<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Graphs</title>
   <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <!-- External Css -->
  <link rel="stylesheet" href="css/styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
  <!--Bootstrap Scripts-->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
  <!-- Font awesome -->
  <script src="https://kit.fontawesome.com/b892dfc0be.js" crossorigin="anonymous"></script>


</head>

<body class="bg-dark">
  <section id="title">
    <!--Nav Bar -->
    <div class="container-fluid">
      <!--Nav Bar-->
      <nav class="navbar fixed-top bg-dark navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="C:\Users\vmishra\OneDrive - Greenway Health, LLC\Desktop\Smart Goal Tracker\index.html"></i>Smart Goal Tracker</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/users/goal">Goals</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/train/training">Training</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/graph">Graph</a>
            </li>

          </ul>
        </div>
      </nav>
    </div>


  </section>

  <section class="graph-cards">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-interval="false">
      <img class="d-block w-100" src="..." alt="">
      <iframe title="FinalGoalTracking" width="1199" height="541.25" src="https://app.powerbi.com/reportEmbed?reportId=0fca2b14-0d35-4e2c-9e30-62870d659549&autoAuth=true&ctid=adc6eaa7-5887-4072-b78e-155aed41015d&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLXVzLWVhc3QyLXJlZGlyZWN0LmFuYWx5c2lzLndpbmRvd3MubmV0LyJ9" frameborder="0" allowFullScreen="true"></iframe>
    </div>
    <div class="carousel-item" data-interval="false">
      <img class="d-block w-100" src="..." alt="">
      <iframe title="Training Goal Graph" width="1199" height="541.25" src="https://app.powerbi.com/reportEmbed?reportId=f2f0ea8a-57eb-483b-a4bc-870d9c5009b4&autoAuth=true&ctid=adc6eaa7-5887-4072-b78e-155aed41015d&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLXVzLWVhc3QyLXJlZGlyZWN0LmFuYWx5c2lzLndpbmRvd3MubmV0LyJ9" frameborder="0" allowFullScreen="true"></iframe>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

  </section>
    <section id="footer">
    <div class="footer container">
      <div class="brand">

        <!--<h2><span class="dev">G</span>reenway <span class="dev">H</span>ealth</h2> -->

        <h2>Contact Us</h2>
      </div>
      <div class="social-icon">
        <div class="social-item">
          <a href="https://www.facebook.com/GreenwayHealthLLC/"><img src="https://img.icons8.com/bubbles/100/000000/facebook-new.png" /></a>
        </div>
        <div class="social-item">
          <a href="https://www.instagram.com/greenwayhealth/?hl=en"><img src="https://img.icons8.com/bubbles/100/000000/instagram-new.png" /></a>
        </div>
        <div class="social-item">
          <a href="https://twitter.com/greenway?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"><img src="https://img.icons8.com/bubbles/100/000000/twitter.png" /></a>
        </div>
        <div class="social-item">
          <a href="https://www.linkedin.com/company/greenway-health"><img src="https://img.icons8.com/bubbles/100/000000/linkedin.png" /></a>
        </div>
      </div>
      <p>Copyright © 2022. All rights reserved</p>
    </div>
  </section>
  <script>

$('.carousel').carousel({
  interval: false,
});
  </script>
</body>

</html>
