/* import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

body {
  background-color: #EEEEEE;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);

}

.navbar {
  padding: 0.2% 4% 0.2% 6%;
}

.nav-item {
  padding: 0 10px;
}
h2{
   text-shadow: 2px 2px 5px grey;

}
.navbar-brand {
  font-size: 2.0rem;
  font-family: 'Poppins', sans-serif;
}

.nav-link {
  font-size: 17px;
}

.dev {
  color: #D83A56;
}

.container-fluid {
  padding: 73px 2px 2px 2px;
}

.comp-logo {
  margin-left: 3%;
}

.excel {
  padding: 2% 2% 2% 2%;
  margin-left: 1%;
}
.excel2{
  margin-left: 1%;
}

.exd {
  background-color: #EEEEEE;
}

.fa {
  padding: 0 8px 0 5px;
}

.fa-dove {
  padding: 0 8px 0 8px;
}

.about {
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  /*background-color: #000000;*/
  background-color: #EEEEEE;
}
.about-container{
  text-align: center;
  margin-left : 10%;
  margin-right: 10%;
}
h4 {
  padding-top: 100px;
  color: #9ca6af;
}

h1 {
  color: black;
}

h3 {
  /*padding: 2% 30% 1% 30%;*/
  margin-top: 2%;
  color: #848f99;
  text-align: center;
  font-weight: normal;
  font-family: 'Ubuntu', sans-serif;
}

.best-emp {
  font-size: 22px;
  font-family: 'Dancing Script', cursive;
}

.para {
  padding: 0.5% 2% 2% 2%;
}

.btn-outline-primary {
  margin-bottom: 100px;
}

.btn-outline-primary:hover {
  background: #171010;
  color: white;
  transform: scale(1.05);
}

.btn-xlarge {
  padding: 18px 28px;
  font-size: 22px; //change this to your desired size
  line-height: normal;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}

.row {
  margin-left: 35%;
}

.daily {
  margin: 0 10px 20px 40px;
  font-family: 'Ubuntu', sans-serif;
}

.goal-head {
  color: #393E46;
}

#brand-head {
  margin left: 10%;
}

.training-sec {
  padding: 5% 10% 0 10%;
  text-align: center;
  text-decoration: inherit;
  font-weight: lighter;
}

.dev {
  color: #81B214;
}

.graph-cards {
  margin-left: 6%;
  margin-top: 5%;
  margin-bottom: 6%;
  background-color: #D1D1D1;
  width: 1200px;
  height: 500px;

}
.graph-cards:hover{
  background: #171010;
  color: white;
    transform: scale(1.05);
}

#footer {
  background-color: #203239;
  text-align: center;
}

#footer .footer {
  min-height: 200px;
  flex-direction: column;
  padding-top: 40px;
  padding-bottom: 10px;
}

#footer h2 {
  color: #FAEEE7;
  font-weight: 500;
  font-size: 2.8rem;
  letter-spacing: 0.1rem;
  margin-top: 7px;
  margin-bottom: 10px;
}

#footer .social-icon {
  display: flex;
  margin-bottom: 30px;
  margin-left: 37%;
}

#footer .social-item {
  height: 50px;
  width: 50px;
  margin: 0 10px 0 10px;
}

#footer .social-item img {
  height: 60px;
  filter: grayscale(1);
  transition: 0.3s ease filter;
}

#footer .social-item:hover img {
  filter: grayscale(0);
}

#footer p {
  color: #FAEEE7;
  font-size: 1rem;
  margin-left: 25%;
}
.nav-link{
  font-weight: bold;
}

/*Footer */
#footer p {
  color: #FAEEE7;
  font-size: 1rem;
  margin-left: 0;
}

#footer .social-item {
  height: 50px;
  width: 50px;
  margin: 0 2px 0 2px;
}

#footer .social-icon {
  display: flex;
  margin-bottom: 30px;
  margin-left: 40%;
}
}

.dropdown {
  margin-left: 30%;
}

.carousel-control-prev {
  margin-top: 12%;
  color: black;
}

.carousel-control-next {
  margin-top: 12%;
  color: black;
}

.powerbi {
  margin: 2% 2% 2% 5%;
}
.carousel-control-prev-icon{

   filter: invert(100%);
      margin-bottom: 120%;
}
.carousel-control-next-icon{
  filter: invert(100%);
     margin-bottom: 120%;
}
@media screen and (max-width: 600px) {
  .graph-cards{
    width: 80%;
    height: 60%;
  }

}
